<footer class="footer">
  <small style="color: #428bca;">
    PHÒNG GIÁO DỤC VÀ ĐÀO TẠO HUYỆN THẠNH HÓA<br>
    Địa chỉ:    Địa chỉ: Khu phố 3, Thị Trấn Thạnh Hóa, Huyện Thạnh Hoá, Tỉnh Long An<br>
    Điện thoại: 02723.857.116<br>
    Fax:        02723.857.116<br>
    Website:    <a href="http://pgdthanhhoa.edu.vn/" style="color: #428bca">pgdthanhhoa.edu.vn/</a><br>
    Email:      pgdthanhhoa.longan@moet.edu.vn<br>
  </small>
  <nav>
    <ul>
      <li><a href="http://pgddtthanhhoa.edu.vn" style="color: #428bca;font-weight: bolder">pgddtthanhhoa.edu.vn</a></li>
    </ul>
  </nav>
</footer>
