<footer class="footer">
  <small style="color: #428bca;">
    CÔNG TY TNHH GIẢI PHÁP CÔNG NGHỆ AN PHÁT<br>
    Địa chỉ:    1306, C4, Nguyễn Cơ Thạch, Nam Từ Liêm, Hà Nội<br>
    Điện thoại: 0466.572.777<br>
    Fax:        0466.572.777<br>
    Website:    <a href="http://apts.vn" style="color: #428bca">http://apts.vn</a><br>
    Email:      anphat.ts@gmail.com<br>
  </small>
  <nav>
    <ul>
      <li><a href="http://apelearning.vn" style="color: #428bca;font-weight: bolder">aplearning.vn</a></li>
    </ul>
  </nav>
</footer>